.container{
    background-color: var(--color-bg-badge);
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.text{
    color: var(--color-text-badge);
    font-weight: 500;
}